body 
		{
			background-color: #E0FFFF;
			margin: 0px;
		}
		header
		{
			width: 100%;
			height: 110px;
			background-color: #228B22	;
			
			padding:4px;
			color: #FFFFFF;
		}	
		nav
		{
		text-align: center;
		color: #FFFFFF;
		margin: 0px 5px;
		}
		#logo
		{
			width: 85px;
			height: 90px;
			float: left;
			padding: 0px 10px;
			margin: 0px 0px 10px 0px;
		}
		#logo-name
		{
			width: 960px;
			margin: 0 auto;
		}
		div.content
		{
			margin: 0 auto;
			max-width: 960px;
		}
		table
		{
		   
			width:100% ;
			cellpadding:5px;
		}
		tr.nechet
		{
			background-color:#228B22	;
		}
		footer
		{
			width: 100%;
			height: 110px;
			background-color: #228B22	;
			
			padding:4px;
			color: #FFFFFF;
		}

